<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176894646761-9jrm1n8ctbstk5ojb0rg80hs55snchf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176894646761-9jrm1n8ctbstk5ojb0rg80hs55snchf9</string>
	<key>API_KEY</key>
	<string>AIzaSyAR8D6Qre73ndgK7hKyQyR26vJMEdNAbNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>176894646761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeworkApp</string>
	<key>PROJECT_ID</key>
	<string>homeworkapp-ea460</string>
	<key>STORAGE_BUCKET</key>
	<string>homeworkapp-ea460.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176894646761:ios:0c1459d93f9a3fffd31378</string>
</dict>
</plist>